@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  overflow-x: hidden; /* Nasconde la barra di scorrimento orizzontale */
  overflow-y: auto;
}
.name {
  font-family: "Roboto", sans-serif;
}

.fade {
  animation: fade 0.6s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 0.6s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.button {
  padding: 1em 2em;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #cecece;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #ffffff;
}

.button:hover {
  color: #292929;
  transform: scale(1.1);
  outline: 2px solid #dfdfdf;
  box-shadow: 4px 5px 17px -4px #ffffff;
}

.button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgb(248, 248, 248);
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button:hover::before {
  width: 250%;
}

.fade-in {
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-out {
  animation: fadeInOut 5s linear infinite;
}

::-webkit-scrollbar {
  width: 8px; /* Larghezza della barra di scorrimento */
}
