

.colors{
    color: #710000;
    transition: 0.5S;
}

.colors:hover {
  color: #d2d2d2;
}

.colori{
    color: #d2d2d2;
    transition: 0.5S;
}

.colori:hover {
  color: #710000;
}

.bd {
    position: relative;
    overflow: hidden;
  }
  
  .bd::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 0;
    background: #710000;
    transition: height 2s;
  }
  
  .bd:hover::before {
    height: 100%;
  }
  
  .bd:not(:hover)::before {
    height: 0;
  }

